{{define "score_their"}}
<div class="cc-info">
	<div class="cc">
		<div class="c-info-left">
			<div class="subheadline">Метрики</div>
			<div class="block">
				<div class="b-entry-info">
					<div class="line-container">
						<div class="line">
							<div class="key">У {{.K}} в списках</div>
						</div>
					</div>
					<div class="line-container">
						<div class="line">
							<div class="key">Оценка других пользователей:</div>
							<div class="value">{{.D}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{end}}
